<!--
 Title: contact.component.html
 Author: Professor Krasso
 Modified By: April Yang
 Date: 11/10/2022
 Description: Assignment 4.4 - Async Pipe
-->

<div class="contact-container">
  <div class="row">
    <div class="col-sm-12">
      <h3 style="padding-left: 27%">Welcome to the Contact Us page</h3>
    </div>
  </div>

  <br /><br />
  <div class="row">
    <div class="col-sm-6">
      <div class="row location">
        <div class="col-sm-12">
          <h3><i class="bi bi-geo-alt"></i>Address</h3>
        </div>
      </div>

      <div class="row location">
        <div class="col-sm-12">
          <ul class="list-group">
            <li class="list-group-item border-0">99909 56th Avenue NE</li>
            <li class="list-group-item border-0">Olympia, WA</li>
          </ul>
        </div>
      </div>
    </div>

    <div class="col-sm-6">
      <div class="col-sm-6">
        <div class="row location">
          <div class="col-sm-12">
            <h3><i class="bi bi-telephone"></i>Telephone</h3>
          </div>
        </div>

        <div class="row location">
          <div class="col-sm-12">
            <ul class="list-group">
              <li class="list-group-item border-0">Phone: 855-666-7777</li>
              <li class="list-group-item border-0">Fax: 855-666-8888</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
