<!-- 2 column material design layout -->

<div fxLayout="row wrap">
  <div fxFlex>
    <div fxLayout="column">
      <div>
        <img
          src="../../assets/authorPicture.jpg"
          style="max-width: 350px"
          alt=""
        />
      </div>
      <div>
        <em>
          Photo by Thomas Schweighofer on
          <a
            class="attribution-link"
            href="https://unsplash.com/photos/5dB9WGpJbFc"
            target="_blank"
            >Unsplash</a
          >
        </em>
      </div>
    </div>
  </div>

  <div fxFlex>
    <h1 class="blue">Who was J.R.R. Tolkien?</h1>
    <p>
      Lorem ipsum dolor sit amet tempor. Accumsan phasellus dignissim cras
      tellus dictum sollicitudin vel. Purus nisl phasellus metus conubia cras.
      Feugiat nec magnis sodales habitasse neque non consequat fringilla. Mattis
      penatibus ac senectus inceptos hac egestas tempus. Lorem ipsum dolor sit
      amet tempor. Accumsan phasellus dignissim cras tellus dictum sollicitudin
      vel. Purus nisl phasellus metus conubia cras. Feugiat nec magnis sodales
      habitasse neque non consequat fringilla. Mattis penatibus ac senectus
      inceptos hac egestas tempus.
    </p>
    <em
      >Biography by:s
      <a
        href="https://www.tolkiensociety.org/author/biography/"
        target="_blank"
        class="attribution-link"
        >David Doughan MBE</a
      ></em
    >
  </div>
</div>
