//  Title: book-list.component.scss
//  Author: Professor Krasso
//  Modified By: April Yang
//  Date: 11/20/2022
//  Description: Assignment 5.4 - Dialogs
// Resources: Material Design https://material.io

.a-link {
  text-decoration: none;
  cursor: pointer;
}

.a-link:hover {
  text-decoration: underline;
}
