/*
 Title: app.component.scss
 Author: Professor Krasso
 Modified By: April Yang
 Date: 11/20/2022
 Description: Assignment 5.4 - Dialogs
Resources: Material Design https://material.io
*/



.logo {
  margin-top: 5 px;
}

.main-container {
  padding-top: 25px;
  width: 80%;
  margin: 0 auto;
}
