<!--
 Title: book-details-dialog.component.html
 Author: Professor Krasso
 Modified By: April Yang
 Date: 12/11/2022
 Description: Assignment 8.2 – Server-side Communications
Resources: Material Design https://material.io
-->

<!-- dialog pop up using material design -->
<mat-card>
  <mat-card-title class="blue">
    <p>Book Title: <br />{{ book.title }}</p>
  </mat-card-title>
  <br /><br />
  <mat-card-content>
    <div fxLayout="column" class="book-details">
      <p>ISBN: <br />{{ book.isbn }}</p>
      <p>
        Authors:<br />
        {{ book.authors.join(", ") }}
      </p>
      <p>
        Number of Pages: <br />
        {{ book.numOfPages }}
      </p>
      <p>
        Description:<br />
        {{ book.description }}
      </p>
    </div>
  </mat-card-content>
  <mat-card-actions align="end">
    <button mat-raised-button color="accent" matDialogClose="confirm">
      OK
    </button>
  </mat-card-actions>
</mat-card>
