<!--
 Title: contact.component.html
 Author: Professor Krasso
 Modified By: April Yang
 Date: 12/11/2022
Description: Assignment 8.2 – Server-side Communications
 Resources: Material Design https://material.io
-->

<div fxLayout="row wrap">
  <div fxFlex>
    <mat-card-title class="card-title-icon">
      <mat-icon color="primary">navigation</mat-icon>
    </mat-card-title>
    <br />
    <mat-card-content>
      <p>99909 56th Avenue NE</p>
      <p>Olympia, WA</p>
    </mat-card-content>
  </div>

  <div fxFlex>
    <mat-card-title class="card-title-icon">
      <mat-icon color="primary">phone</mat-icon>
    </mat-card-title>
    <br />
    <mat-card-content class="align-center">
      <p>Direct: 855-666-7777</p>
      <p>Toll-free: 1-855-666-8888</p>
      <p>Fax: 855-666-9999</p>
    </mat-card-content>
  </div>
</div>
