//  Title: book-list.component.scss
//  Author: Professor Krasso
//  Modified By: April Yang
// Date: 12/11/2022
//Description: Assignment 8.2 – Server-side Communications
// Resources: Material Design https://material.io




.grid-container {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: auto auto auto;
  padding: 25px;
}

.grid-container__item {
  padding: 20px;
  font-size: 30px;
}

.grid-container__ahref {
  text-decoration: none;
  cursor: pointer;
}

.grid-container__ahref:hover {
  text-decoration: underline;
}

.spinner {
  margin-top: 2%;
  margin-left: 45%;
}
