/* You can add global styles to this file, and also import other style files */

//  Title: styles.scss
//  Author: Professor Krasso
//  Modified By: April Yang
//  Date: 11/20/2022
//  Description: Assignment 5.3 - Data Tables
// Resources: Material Design https://material.io

@import "./theme";

