<!--
 Title: about.component.html
 Author: Professor Krasso
 Modified By: April Yang
 Date: 12/11/2022
 Description: Assignment 8.2 – Server-side Communications
Resources: Material Design https://material.io
-->

<!-- 2 column material design layout -->
<div fxLayout="row wrap">
  <div fxFlex>
    <div fxLayout="column">
      <div>
        <img src="../../assets/Sun Tzu.jpg" style="max-width: 350px" alt="" />
      </div>
      <div>
        <em>
          Photo from Wikipedia
          <a
            class="attribution-link"
            href="https://upload.wikimedia.org/wikipedia/commons/c/cf/%E5%90%B4%E5%8F%B8%E9%A9%AC%E5%AD%99%E6%AD%A6.jpg"
            target="_blank"
            >Sun Tzu</a
          >
        </em>
      </div>
    </div>
  </div>

  <div fxFlex>
    <h1 class="blue">The Art of War</h1>
    <p>
      Sun Tzu's Art of War is the world's earliest known treatise on warfare and
      military strategy. It is a strategic and tactical guide for ordinary
      people, business leaders, rulers and commanders. It is considered to be
      one of the most influential philosophical works in ancient China. Sun Tzu
      was a Chinese military strategist, Taoist philosopher, and general in the
      6th century BC. Sun Tzu's teachings are concise and elegant, simple and
      philosophical, and extremely practical. The book has been constantly
      reinterpreted, reinvented, and imitated recently.
    </p>
    <em
      >Author by:
      <a
        href="https://www.google.com/books/edition/The_Art_of_War/nY_2jgEACAAJ?hl=en"
        target="_blank"
        class="attribution-link"
        >Sun-Tzu</a
      ></em
    >
  </div>
</div>
