/* You can add global styles to this file, and also import other style files */

/*
Title: styles.css
Author: Professor Krasso
Modified By: April Yang
Date: 12/02/2022
 Description: Exercise 7.2 - Reactive Forms
Resources: Material Design https://material.io
*/


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
