/* You can add global styles to this file, and also import other style files */

/*
Title: styles.css
Author: Professor Krasso
Modified By: April Yang
Date: 11/26/2022
Description: Assignment 6.4 - Input Properties
Resources: Material Design https://material.io
*/


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
